@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #293241;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
    font-family: 'Antic Slab', serif;
    color: #d3d3d3;
}

header {
    background-color: #293241;
    padding: 15px;
    box-shadow: 0 0 3px black;
}

header li {
    display: inline;
    text-decoration: none;
    padding-left: 45px;
    font-family: 'RocknRoll One', sans-serif;
}

header li a {
    color: #e0fbfc;
    text-decoration: none;
    transition: .3s ease;
}

header li a:hover {
    color: #98c1d9;
}

header .login {
    color: #ee6c4d;
    float: right;
    margin-right: 5cm;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 120%;
    position: relative;
    top: -2px;
    right: -20px;
    outline: none;
    text-decoration: none;
}

header .login:hover {
    color: #98c1d9;
}

.login:visited {
    text-decoration: none;
    color: #e0fbfc;
}

.logo {
    width: 180px;
    float: left;
    size: 40%;
    position: relative;
    top: -5px;
}

.container h1, .container h2 {
    position: relative;
    top: 200px;
}

.container h1 {
    font-family: 'RocknRoll One', sans-serif;
    margin-bottom: 30px;
}

.container_register {
    position: relative;
    top: 7cm;
    font-size: 180%;
}

.container_register form .details {
    justify-content: space-between;
    margin-right: 20px;
    font-size: 130%;
}

.input_box_email, .input_box_pass1, .input_box_pass2, .input_box_name {
    font-size: 55%;
    height: 40px;
    margin-bottom: 3px;
}

.register_btn {
    position: relative;
    top: 20px;
    border-radius: 4px;
    background-color: #e0fbfc;
    border: none;
    width: 5%;
    font-size: 70%;
}